a {
  text-decoration: none;
  font: 20px/2.5 "Arial", arial, verdana, sans-serif;
}

#logo {
  width: 100px;
}

#header_section { /*section */
  background-color: gray;
  border-color: black;
  border: solid;
  padding: 15px;
}

#header_list {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

#main_section { /*section */
  display: flex;
  flex-direction: column;
  background-color: gray;
  border-color: black;
  border: solid;
  /* height: 100vh; */
  margin: 5px 0 5px 0;
}

.main_post img {
  width: 100%;
}

.main_post {
  width: 30%;
  border: solid;
  padding: 15px;
  margin: 5px;
}

#footer_section { /*section */
  background-color: gray;
  border-color: black;
  border: solid;
  padding: 10px;
}

#header_list {
  align-items: center;
  justify-content: space-between;
  display: flex;
}